
<div class="home-container">
<app-toolbar></app-toolbar>

  <div class="about-container">
    <img class="generic-image" src="../../../assets/images/109436679_3384656238211230_2880665881273623023_n.jpg" alt="food-works-intro">
    <div class="about-wrapper">
      <div class="text-wrapper">
        <h1>THE FOOD WORKS</h1>
        <h2>The Frozen Food Factory Shop</h2>
        <button mat-stroked-button style="color: #4DB6AC">SHOP NOW</button>
      </div>
      <img class="third-image" src="../../../assets/images/106454263_3341030979240423_9130666948718464929_n.jpg" alt="food-works-intro">
      <div class="image-wrapper">
        <img src="../../../assets/images/106454263_3341030979240423_9130666948718464929_n.jpg" alt="food-works-intro">
      </div>
    </div>
  </div>
  <div class="info-container">
      <div class="info-wrapper">
        <h3>DELIVERED TO YOUR DOOR</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel finibus ex. Duis quis nisi tincidunt, dictum lacus ac, porttitor purus. Donec dapibus dui lorem, in sagittis ante feugiat vitae. Aliquam tellus purus, pellentesque a mauris ut, accumsan tincidunt erat. Cras luctus finibus tristique. Donec nibh turpis, pellentesque a luctus eu, scelerisque eget nunc. Donec porta, sapien in aliquam interdum, ante leo tempus lacus, non ornare erat erat quis lorem. Cras eget ex vel elit aliquam pellentesque. Pellentesque iaculis sem sapien, a molestie magna lobortis vel. Praesent porta metus turpis, eu sollicitudin justo tempor ac. Integer eget hendrerit ipsum. Nullam.</p>
      </div>
      <div class="info-wrapper1">
        <h3>OUR PROMISE OF QUALITY</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel finibus ex. Duis quis nisi tincidunt, dictum lacus ac, porttitor purus. Donec dapibus dui lorem, in sagittis ante feugiat vitae. Aliquam tellus purus, pellentesque a mauris ut, accumsan tincidunt erat. Cras luctus finibus tristique. Donec nibh turpis, pellentesque a luctus eu, scelerisque eget nunc. Donec porta, sapien in aliquam interdum, ante leo tempus lacus, non ornare erat erat quis lorem. Cras eget ex vel elit aliquam pellentesque. Pellentesque iaculis sem sapien, a molestie magna lobortis vel. Praesent porta metus turpis, eu sollicitudin justo tempor ac. Integer eget hendrerit ipsum. Nullam.</p>
      </div>
      <div class="info-wrapper2">
        <h3>EASY. HEALTHY. COST EFFECTIVE</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed vel finibus ex. Duis quis nisi tincidunt, dictum lacus ac, porttitor purus. Donec dapibus dui lorem, in sagittis ante feugiat vitae. Aliquam tellus purus, pellentesque a mauris ut, accumsan tincidunt erat. Cras luctus finibus tristique. Donec nibh turpis, pellentesque a luctus eu, scelerisque eget nunc. Donec porta, sapien in aliquam interdum, ante leo tempus lacus, non ornare erat erat quis lorem. Cras eget ex vel elit aliquam pellentesque. Pellentesque iaculis sem sapien, a molestie magna lobortis vel. Praesent porta metus turpis, eu sollicitudin justo tempor ac. Integer eget hendrerit ipsum. Nullam.</p>
      </div>
    </div>
  <div class="infographic-container">
    <h1>HOW WE DO IT</h1>
    <img src="../../../assets/images/The Food Works Wireframing - Frame 5.jpg">
  </div>
  <div class="menu-container">
    <h1>OUR MENU</h1>
    <div class="menu-wrapper">
      <mat-tab-group mat-align-tabs="center">
        <mat-tab label="All">
          <div class="products-container">
            <div class="products">
              <mat-grid-list cols="4" rowHeight="0.8:1">
                <mat-grid-tile *ngFor="let item of allProducts" >
                  <mat-card class="example-card">
                    <img mat-card-image [src]="item.productImage">
                    <mat-card-content>
                      <h3>{{item.productName}}</h3>
                      <p>{{item.productDescription}}</p>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Mains">
          <div class="products-container">
            <div class="products">
              <mat-grid-list cols="4" rowHeight="0.8:1">
                <mat-grid-tile *ngFor="let item of mainProducts" >
                  <mat-card class="example-card">
                    <img mat-card-image [src]="item.productImage">
                    <mat-card-content>
                      <h3>{{item.productName}}</h3>
                      <p>{{item.productDescription}}</p>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Sides">
          <div class="products-container">
            <div class="products">
              <mat-grid-list cols="4" rowHeight="0.8:1">
                <mat-grid-tile *ngFor="let item of sideProducts" >
                  <mat-card class="example-card">
                    <img mat-card-image [src]="item.productImage">
                    <mat-card-content>
                      <h3>{{item.productName}}</h3>
                      <p>{{item.productDescription}}</p>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Desserts">
          <div class="products-container">
            <div class="products">
              <mat-grid-list cols="4" rowHeight="0.8:1">
                <mat-grid-tile *ngFor="let item of dessertProducts" >
                  <mat-card class="example-card">
                    <img mat-card-image [src]="item.productImage">
                    <mat-card-content>
                      <h3>{{item.productName}}</h3>
                      <p>{{item.productDescription}}</p>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </mat-tab>
        <mat-tab label="Packages">
          <div class="products-container">
            <div class="products">
              <mat-grid-list cols="4" rowHeight="0.8:1">
                <mat-grid-tile *ngFor="let item of packageProducts" >
                  <mat-card class="example-card">
                    <img mat-card-image [src]="item.productImage">
                    <mat-card-content>
                      <h3>{{item.productName}}</h3>
                      <p>{{item.productDescription}}</p>
                    </mat-card-content>
                  </mat-card>
                </mat-grid-tile>
              </mat-grid-list>
            </div>
          </div>
        </mat-tab>
      </mat-tab-group>

    </div>
  </div>
</div>


