<div class="toolbar-container">

  <mat-toolbar class="main-toolbar">

    <!-- Title -->
    <div class="title-container">
      <img src="../../../assets/images/107559009_3361528507190670_429000386895588_o.jpg" alt="food-works-image">
    </div>

    <!-- Navigation -->
    <div class="navigation-container">
      <span class="food-works-home">HOME</span>
      <span class="food-works-about">ABOUT</span>
      <span class="food-works-menu">MENU</span>
      <span class="food-works-contact">CONTACT</span>
    </div>

    <!-- Facebook Icon -->
    <div class="icon-container">
      <fa-icon [icon]="faFacebook"></fa-icon>
    </div>

  </mat-toolbar>

</div>
